    
<h2>Dados de Casos confirmados por País</h2>
<br />
<form action="<%= search_path %>" method="get">
  <div class="form-group">
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="search_term">Pesquisar País:</label>
        <input type="text" id="search_term" name="search_term" class="form-control" placeholder="Digite o nome do país">
        <br />
        <button type="submit" class="btn btn-primary">Pesquisar</button>
      </div>
    </div>
  </div>
</form>

<br />
<div class="text-center">
  <% if @pais.any? %>
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th scope="col">País</th>
          <th scope="col">População</th>
          <th scope="col">Total de Casos Confirmados</th>
          <th scope="col">Última Atualização</th>
        </tr>
      </thead>
      <tbody>
        <% if params[:search_term].present? %>
          <% @pais.each do |pais| %>
            <% if pais['country_region'].downcase.include?(params[:search_term].downcase) %>
              <tr>
                <td><%= pais['country_region'] %></td>
                <td><%= pais['population'] %></td>
                <td><%= sprintf('%.0f',pais['latest']['confirmed']).gsub(/(\d)(?=(\d{3})+(?!\d))/, '\\1.')%></td>
                <td><%= Date.parse(pais['latest']['last_updated_at']).strftime('%d/%m/%Y')%></td>
              </tr>
            <% end %>
          <%end%>
        <% else %>
          <% @pais.each do |pais| %>
            <tr>
              <td><%= pais['country_region'] %></td>
              <td><%= pais['population'] %></td>
              <td><%= sprintf('%.0f', pais['latest']['confirmed']).gsub(/(\d)(?=(\d{3})+(?!\d))/, '\\1.') %></td>
              <td><%= Date.parse(pais['latest']['last_updated_at']).strftime('%d/%m/%Y') %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div>
    <%= paginate @pais%>
    </div>
    
    <div>
      <%= link_to 'Volta', root_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
